
@{
    ViewData["Title"] = "Contact";
}
    <div class="topnav">
        <a href="Index">Home</a>
        <a href="Tickets">Tickets </a>
        <a class="active"  href="Contact">Contact</a>
    </div>
<h2>Contact</h2>

