@model SchoolTemplate.Database.Festival  
@{ 
    ViewData["Title"] = "Festival";

}
<h1>@Model.Naam</h1>

<div>
    <!-- Hier komt uitleg over het bepaalde festival-->
    <p> @Model.Lange_info <br>
    Vanaf: @Model.Begin_datum.ToString("dd MMMM yyyy") tot en met @Model.Eind_datum.ToString("dd MMMM yyyy")
    </p>
</div>

<div>
     <h3>  </h3>
</div>

<div class="nieuws">
    <h4> Het nieuws:</h4>
</div>

<div class="huisregels">
    <h5> Huisregels:</h5>
</div>
