@model SchoolTemplate.Database.Festival  
@{ 
    ViewData["Title"] = "Festival";

}
    <div class="text">
        <h1>@Model.Naam</h1>

        <div class="festivalbox">
            <!-- Hier komt uitleg over het bepaalde festival-->
            <h2>Omschrijving</h2>
            <p>
                @Model.Lange_info <br> <br>
            </p>
        </div>


        <div class="festivalbox">
            <h2> Wanneer?</h2>
            <p> Vanaf: @Model.Begin_datum.ToString("dd MMMM yyyy") tot en met @Model.Eind_datum.ToString("dd MMMM yyyy")</p>
        </div>

        <div class="nieuws">
            <a href="/Tickets"> Koop nu je tickets</a>
        </div>
    </div>
