@{ 
    ViewData["Title"] = "Festival";

}
<h1>Nadere informatie festival:@ViewData["id"]</h1>

<div>
    <!-- Hier komt uitleg over het bepaalde festival-->
</div>

<div>
     <h3> Platte grond: </h3>
</div>

<div class="nieuws">
    <h4> Het nieuws:</h4>
</div>

<div class="huisregels">
    <h5> Huisregels:</h5>
</div>