

@{
    ViewData["Title"] = "Contact";
}

<div class="container">
    <form action="/action_page.php">
        <div class="row">
            <h2 style="text-align:center">Log hier in met sociaal media of gebruikersnaam</h2>
            <div class="vl">
           
            </div>

            <div class="col">
                <a href="#" class="fb btn">
                    <i class="fa fa-facebook fa-fw"></i> Login met Facebook
                </a>
                <a href="#" class="twitter btn">
                    <i class="fa fa-twitter fa-fw"></i> Login met Twitter
                </a>
                <a href="#" class="google btn">
                    <i class="fa fa-google fa-fw"></i> Login met Google+
                </a>
            </div>

            <div class="col">
                <div class="hide-md-lg">
                    <p>Or sign in manually:</p>
                </div>

                <input type="text" name="username" placeholder="Gebruikersnaam" required>
                <input type="password" name="password" placeholder="Wachtwoord" required>
                <input type="submit" value="Login">
            </div>

        </div>
    </form>
</div>

<div class="bottom-container">
    <div class="row">
        <div class="col">
            <a href="#" style="color:black" class="atn">Aanmelden</a>
        </div>
        <div class="col">
            <a href="#" style="color:black" class="atn">Wachtwoord vergeten?</a>
        </div>
    </div>
</div>