@{
    ViewData["Title"] = "Ticketspagina";
}
@using SchoolTemplate.Database;
@model List<Festival>



<h1>@ViewData["Title"]</h1>

<div class="festivalbox">
    <p>
        Kies hier de website waar u heen wil en bestel uw tickets!
    </p>

    <form>
        <label for="festivals">Kies een festival:</label>
        <select name="festival" id="festivals">
            @foreach (Festival f in Model)
            {
                <option value="@f.Naam">@f.Naam</option>
            }

        </select>
        <br><br>
        <input type="submit" value="Submit">
    </form>
</div>