@{
    ViewData["Title"] = "Ticketspagina";
    List<Festival> festivals = ViewData["keuzes"] as List<Festival>;
}
@using SchoolTemplate.Database;

@model PersonModel



<h1>@ViewData["Title"]</h1>

<div class="festivalbox">
    <p>
        Kies hier de website waar u heen wil en bestel uw tickets!
    </p>

    
    <form>
        <label for="festivals">Kies een festival:</label>
        <select name="festival" id="festivals">
            @foreach (Festival f in festivals)
            {
                <option value="@f.Naam">@f.Naam</option>
            }

        </select>
        <br><br>
        <label for="quantity">Hoeveel tickets wilt u (er geldt een maximum van 10 tickets per aankoop):</label>
        <p>Aantal:</p>
        <input type="number" id="quantity" name="quantity" min="1" max="10" placeholder="1">
        <p>Voornaam:</p>
        <input type="text" name="voornaam" placeholder="Robin" />
        <p>Achternaam:</p>
        <input type="text" name="achternaam" placeholder="Jansen" />
        <p>E-mail:</p>
        <input type="text" name="email" placeholder="robin123@gmail.com" />
        <p>geboortedatum:</p>
        <input type="datetime" name="geboortedatum" />
        <input type="submit" value="vestuur" />
    </form>
</div>