@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="topnav">
    <a href="Index">Home</a>
    <a class="active" href="Tickets">Tickets </a>
    <a href="Contact">Contact</a>
</div>

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
