<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SchoolTemplate</title>

    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <div class="topnav">
        <a class="active" href="/Home/Index">Home</a>
        <a href="/Home/Tickets">Tickets </a>
        <a href="/Home/Contact">Contact</a>
    </div>

    @RenderBody()

    <div class="footer">
        <p>Footer</p>
    </div>

</body>
</html>
